// index/home page
//-----------------------------------------------------------------------------------

.disabled
  pointer-events: none
  background: #ddd

.gamewrap
  margin-bottom: 60px
  .gamewrap-grid
    display: block
    width: 390px
    margin: 0 auto
    clear: both
    .cell
      width: 130px
      height: 130px
      border: 1px solid #666
      float: left
      box-sizing: border-box
      position: relative
      &:before
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 100%
        text-align: center
        color: #000
        font-size: 50px
      &.mod-free
        background-color: rgba(190, 251, 142, 1)
        &:before
          content: "-"

      &.mod-x
        &:before
          position: absolute
          content: "x"
      &.mod-o
        background-color: yellow
        &:before
          position: absolute
          content: "o"
      &.mod-cursor
        border: 3px solid red

        &.mod-free
          &:before
            position: absolute
            content: "+"
            color: red

.wraprow
  width: 100%
  display: block

.gameover
  color: red
  font-size: 16px
  margin: 20px 0
