// footer
//-----------------------------------------------------------------------------------
.footer
  padding: 15px
  box-sizing: border-box
  color: #000
  background: #25657d
  a
    color: #fff
    text-decoration: none
