// header
//-----------------------------------------------------------------------------------
.header
  padding: 15px
  box-sizing: border-box
  background: #25657d
  color: #fff
  margin-bottom: 20px
