$base64-png: 'image/png;base64'
$base64-jpg: 'image/jpeg;base64'
$base64-svg: 'image/svg+xml;base64'

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, 'Helvetica Neue', Helvetica, sans-serif

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue
