<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">

    <div class="container">
      <div class="row">

        <!-- build:section layout.sidebar-->
        <!-- /build -->

        <div class="gamewrap col-xs-12">
          <h2 class="text-center">
            Homepage (simple mod)
          </h2>
          <br>
          <div class="gamewrap-grid js-gamewrap-grid"></div>
        </div>

        <div class="text-center js-gameover gameover"></div>

      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
